.navigation ul {
  list-style: none;
  text-align: right;
  float: left;
}

.navigation li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}
.navigation li a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;

}